.container-mayor {
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
}

.img {
  width: 33%;
  margin-right: 5.5%;
}

@media screen and (max-width: 768px){
  .img {
    display: none;
  }

  
  .container{
    position: relative;
    left: -74.5%;
    width: 250%;
  }
}